<p id="notice"><%= notice %></p>

<div class="form-actions">
  <%= link_to 'Back', request.referer , :class => "btn btn-info custom-btn", data: { turbolinks: false } %>
  <%= link_to 'New Top Brand', new_admin_top_brand_path , :class => "btn btn-success custom-btn", data: { turbolinks: false } %>
</div>


<table class="table table-stripped table-hover" width="100%" >
        <thead>
        <tr>
            <th><i class="mdi mdi-pound"></i></th>
            <th>Store</th>
            <th>Order</th>    
            <th>Action</th>                 
        </tr>
        </thead>

    <tbody id="sortable">  <!-- sortable target -->
        <% @admin_top_brands.each do |item| %>
        <tr id="<%= item.id %>">  <!-- Needs id tag on sorting elements -->
            <td><i class="mdi mdi-cursor-move"></i></td>
            <td><%= item.name %></td>
            <td><%= item.sort %></td>
            <td><%=link_to('<i class="mdi mdi-close-circle"></i> '.html_safe, admin_top_brand_path(item), :method => :delete,data: { confirm: 'Are you sure?' }) %></td>
        </tr>
        <% end %>
    </tbody>
</table>


<br>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>