<h3>New  Top Brand</h3>


<%= simple_form_for([:admin, @admin_top_brand],:url => admin_top_brands_path,validate: true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, as: :select2, collection: Store.where(topbrand: false).all%>  
  </div>

  <div class="form-actions">
    <%= f.button :submit,:class => "btn btn-success" %>
    <%= link_to 'Back', admin_top_brands_path , :class => "btn btn-info", data: { turbolinks: false } %>
  </div>
  <br>
<% end %>
