<!DOCTYPE html>
<html>
  <head>
    <title>LovelyOffers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full" data-boxed-layout="full">
    <%= render 'shared/admin_header' %>
    <%= render 'shared/admin_sidebar' %>
      <%= yield %>
    <%= render 'shared/admin_footer' %>
  </div>



  </body>
</html>
