<!DOCTYPE html>
<html>
  <head>
    <title>LovelyOffers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full" data-boxed-layout="full">
    <%= render 'shared/admin_header' %>
    <%= render 'shared/admin_sidebar' %>
    <div class="page-wrapper">
    <div class="page-breadcrumb">
      <div class="row">
          <div class="col-5 align-self-center">
              <h4 class="page-title"><%=controller.controller_name.camelize%></h4>
          </div>
          <div class="col-7 align-self-center">
              <div class="d-flex align-items-center justify-content-end">
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item">
                              <a href="#">Home</a>
                          </li>
                          <li class="breadcrumb-item active" aria-current="page"><%=controller.controller_name.camelize%></li>
                      </ol>
                  </nav>
              </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
          <div class="row">
            <div class="col-12">
                <div class="card card-body">
                <%= yield %>
                </div>
            </div>
          </div>
      </div>
    </div>
    <%= render 'shared/admin_footer' %>
  </div>



  </body>
</html>
